
.search-bar {
    width: 60%;
    color: #fff;
    border: 2px solid #4C7C99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 86%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px;
    color: #fff;
    outline: none;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .NavBar {
        width: 90%;
    }

    .search-bar{width: 60%;}
    .search-bar{width: 80%;}
  }