@import "../../../assets/styles/variables";
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
  /*commonly used tags*/
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
label {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  display: inline-block;
  text-decoration: none;
  font: inherit;
}

button {
  cursor: pointer;
  position: relative;
}

input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  font: inherit;
}
.d_none{
  display: none;
}
.d_block{
  display: block;
}
svg{
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}
strong{
  font-weight: 600;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial;
  /*font-family: 'ArialunicodeMS';*/
  position: relative;

}
header,section {
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  /* -webkit-overflow-scrolling: touch; */
}

.container{
  padding: 0 2vw;
  width: 100%;
  margin: 0 auto;
}

// #region Flex

.G-flex {
  display : flex;
}

.G-inline-flex {
  display: inline-flex;
}

.G-center {
  justify-content : center;
  align-items     : center;
}

.G-justify-center {
  justify-content : center;
}

.G-justify-between {
  justify-content : space-between;
}

.G-justify-around {
  justify-content : space-around;
}

.G-justify-end {
  justify-content : flex-end;
}

.G-align-center {
  align-items : center;
}

.G-align-start {
  align-items : flex-start;
}

.G-align-end {
  align-items : flex-end;
}

.G-flex-column {
  flex-direction : column;
}

.G-flex-wrap {
  flex-wrap : wrap;
}
// #endregion



.G-admin-pages{
  padding: 0 0 0 200px ;
  width: 100%;
  @media(max-width: 766.98px){
    padding: 0;
  }
}

.notification-container{
  z-index: 9999999999;
}
.notification-success{
  background-color: white;
  border-left: 6px solid forestgreen;
  box-shadow: none;
  color: black;
  &:before{
    color: forestgreen !important;
    //content: '' !important;
  }
}

.notification-error{
  background-color: white;
  border-left: 6px solid red;
  box-shadow: none;
  color: black;
  &:before{
    color: red !important;
    //content: '' !important;
  }
}


.P-admin-container{
 height: calc(100vh - 60px);
  padding: 15px;
  box-shadow: inset 0 0 10px 2px $shadow-black;
  .P-admin-page-box{

    width: 100%;
    height: calc(100vh - 90px);
    padding: 15px;
    overflow: hidden;
  overflow-y: auto;
background-color: white;
  }
}


::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}

/* Handle */



.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}


.G-settings-icon, .G-delete-icon{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.G-delete-icon{
  right: auto;
  left: 15px;
}


.G-input-block{
  width: 100%;
  max-width: 100%;
  padding: 15px 0;
  &.G-error-input{
    input{
      box-shadow: 0 0 10px 3px $shadow-red;
    }
  }
  label{
    width: 100%;
    display: block;
    input{
      width: 100%;
      height: 40px;
      border: none;
      box-shadow: 0 0 10px 3px $shadow-black-mini;
      padding: 0 15px;
      font-size: 16px;

    }
    p{
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}

.G-select-btn-block{
  margin-top: 35px;
  .G-cancel-btn{
    font-weight: bold;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
  }
  .L-accept-btn{
    max-width: 170px;
    width: 100%;
  }
}


.G-checkbox-block{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  input{
    display: none;
    &:checked + span{
      background-color: $main-color;
      border-color: $main-color ;
      &:before{
      opacity: 1;
      visibility: visible;
    }}
  }
  label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    p{
      padding-left: 30px;
    }
    span{
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #000000;
      &:before{
        position: absolute;
        content: '';
        width: 10px;
        height: 5px;
        border: 2px solid $white;
        border-left: none;
        border-bottom: none;
        transition: 0.3s;
        left: 3px;
        top: 3px;
        transform: rotate(130deg);
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}


.G-go-back{
  margin-bottom: 20px;
}
